{% extends "QaQuestionBundle::layout.html.twig" %}

{% block content %}
<div>
    Questions: {{ page ~ '-' ~ limit ~ '--' ~ questions|length }}
    <ol start="{{ start }}">
	{% for question in questions %}
	    <li>
	        [{{ question.id }}] <a href="{{ path('question_show', { 'id': question.id, 'slug' : question.slug }) }}">{{ question.title }}</a>
	        <br />
	        tag:
	        {% for tag in question.tags %}
	            <a href="{{ path('tag_show', { 'slug' : tag.slug }) }}">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}
	        {% endfor %}
	        &nbsp;
	        by: {{ question.user.name }}
	        &nbsp;
	        views: {{ question.views }}
	    </li>
	{% endfor %}
	</ol>
</div>

{% include 'QaPaginatorBundle:Default:paginator.html.twig' %}

{% endblock %}

