<div class="paginator">
    <ul>
        <li>
        {% if paginator.currentpage != 1 %}
            <a class="previous" href="{{ path('_items', {  'page': paginator.currentpage-1 }) }}">
                {% trans %}Previous{% endtrans %}
            </a>
        {% endif %}
        
        {% for i in 1..paginator.numpages %}
            {% if paginator.range.0 > 2 and i == paginator.range.0 %}
                ...
            {% endif %}

            {% if (i == 1 or i == paginator.numpages or i in paginator.range) %}
                {% if i == paginator.currentpage %}
                   <span class="active">{{ i }}</a>
                {% else %}
                    <a href="{{ path('_items', { 'page': i }) }}">{{ i }}</a>
                {% endif %}
            {% endif %}

            {% if paginator.range[paginator.midrange - 1] < paginator.numpages - 1 and i == paginator.range[paginator.midrange - 1] %}
                ...
            {% endif %}
            
        {% endfor %}

        {% if (paginator.currentpage != paginator.numpages) %}
            <a class="next" href="{{ path('_items', {  'page': paginator.currentpage+1 }) }}">
                {% trans %}Next{% endtrans %}
            </a>
        {% endif %}
        </li>
    </ul>
</div>
